.nav {
  z-index: 100;
  position: relative;
  padding: 0px 0px;
  height: 60px;
  top: 0;
  width: 100%;
  border-bottom: 2px solid #3cdc3c;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #efefef;
  user-select: none; }
  .nav .nav_options {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 100%;
    user-select: none;
    display: none;
    opacity: 0; }
    .nav .nav_options a {
      color: rgba(230, 230, 230, 0.9); }
      .nav .nav_options a:hover {
        color: #3cdc3c; }
  .nav .nav_name, .nav .nav_option {
    color: rgba(230, 230, 230, 0.9); }
    .nav .nav_name:hover, .nav .nav_option:hover {
      color: #efefef; }
  .nav .nav_option {
    background-color: rgba(0, 0, 0, 0.75);
    border-bottom: 2px solid #3cdc3c;
    padding: 22px; }
  .nav .menu_icon {
    display: block;
    cursor: pointer;
    position: absolute;
    left: 10%;
    top: -13%; }
  .nav .icon_bar1, .nav .icon_bar2, .nav .icon_bar3 {
    width: 35px;
    height: 5px;
    background-color: rgba(230, 230, 230, 0.9);
    margin: 6px 0;
    transition: 0.4s; }
  .nav .change .icon_bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px); }
  .nav .change .icon_bar2 {
    opacity: 0; }
  .nav .change .icon_bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px); }
  .nav .nav_name {
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
  @media screen and (min-width: 30em) {
    .nav {
      border-bottom: none; }
      .nav .nav_options {
        position: relative;
        left: 0px;
        transform: translateX(0%);
        display: block;
        opacity: 1; }
      .nav .nav_name {
        height: 100%; }
        .nav .nav_name a {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translateX(-50%) translateY(-50%); }
      .nav .menu_icon {
        display: none; } }
  .nav .nav_option {
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%); }

#particles {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: fixed;
  left: 0px;
  top: 0px; }

.particles_control {
  position: fixed;
  width: 100%;
  padding: 20px;
  z-index: 100;
  color: rgba(230, 230, 230, 0.9);
  background-color: rgba(0, 0, 0, 0);
  bottom: 0;
  text-align: center;
  user-select: none; }

.particles_mode {
  padding: 0px 20px; }

.particles_left {
  text-align: right;
  cursor: pointer;
  color: rgba(200, 200, 200, 0.5); }
  .particles_left:hover {
    color: #efefef; }

.particles_right {
  cursor: pointer;
  color: rgba(200, 200, 200, 0.5); }
  .particles_right:hover {
    color: #efefef; }

@font-face {
  font-family: 'hack';
  src: url("/fonts/hack-regular-webfont.woff2") format("woff2"), url("/fonts/hack-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

a {
  color: #3cdc3c;
  text-decoration: unset; }

.secondary {
  color: #3cdc3c; }

html, body {
  position: relative;
  background-color: black;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  color: #efefef;
  font-family: 'hack'; }

#greeting {
  z-index: 100;
  position: relative;
  font-family: 'hack';
  top: 50%;
  transform: translateY(-50%);
  color: #efefef;
  text-align: center;
  user-select: none;
  pointer-events: none; }

.post-title {
  display: inline-block; }

.post {
  height: 100%; }

.post-content {
  height: 100%;
  max-height: calc(100% - 130px);
  overflow: auto; }

.poem {
  text-align: center; }

main {
  height: calc(100% - 62px); }

.linklist {
  max-height: calc(100% - 120px);
  overflow: auto;
  text-align: center; }

.linklist_next {
  text-align: right; }

.linklist_nexttitle, .linklist_prevtitle {
  display: none; }

.article_footer {
  font-size: x-small; }

.pagination {
  text-align: center;
  position: absolute;
  left: 50%;
  height: 60px;
  width: 100%;
  bottom: 0px;
  transform: translateX(-50%);
  padding: 20px 0px; }

.older-posts, .newer-posts {
  display: none; }

@media screen and (min-width: 30em) {
  .post-content {
    max-height: calc(100% - 120px);
    padding: 0px; }
  .linklist_nexttitle, .linklist_prevtitle, .older-posts, .newer-posts {
    display: inline-block; } }

.commento-root .commento-logged-container .commento-logged-in-as a.commento-name {
  color: #3cdc3c !important; }
