<article>
    <h1 class="post-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
    <p class="postmeta">
        Posted on: {{ .Date.Format "02.01.2006 15:04" }} | 
        Author: {{.Site.Author.name }} |
        Categories: {{ range .Params.categories }} <a href="{{ "/categories/" | relURL }}{{ . | urlize }}">{{ . }}</a> {{ end }} 
    </p>
    <div class="summary">
        {{ .Summary }}
    </div>
    <div class="post-tags">
        <p>Tags: {{ range .Params.tags }} <a href="{{ "/tags/" | relURL }}{{ . | urlize }}">{{ . }}</a> {{ end }}
        </p>
    </div>
    <div>
        {{ if .Truncated }}
        <p><a class="read-more" href="{{ .Permalink }}"> Read more...</a></p>
        {{ end }}
    </div>
</article>
