{{ partial "header.html" . }}
<div class="fl w-25-ns pa2"></div>
<main class="post fl w-100 w-50-ns ph3">
    <h2 class="tc mb2">PGP Keys</h2>
    <p>You can use the following public keys for the associated email addresses to securely communicate with me using end-to-end encryption.</p>
	<div class="linklist">
		<article class="fl w-100">
            <h3 class="post-title" style="margin-bottom: 0px;"><a href="./silentsilas.com">me@silentsilas.com</a> (<a href="../keys/me@silentsilas.com.asc">download</a>)</a></h3><br />
            <span style="font-size: x-small">(Updated June 16, 2021)</span>
        </article>
        <article class="fl w-100">
            <h3 class="post-title" style="margin-bottom: 0px;"><a href="./level2d.com">silas@level2d.com / silas@l2d.co</a> (<a href="../keys/silas@level2d.com.asc">download</a>)</h3><br />
            <span style="font-size: x-small">(Updated March 28, 2019)</span>
        </article>
	</div>
</main>
<div class="fl w-25-ns pa2"></div>
{{ partial "footer.html" . }}